.root {
  position: absolute;
  left: 20px;
  top: 212px;
  width: 185px;
  height: 50px;
  align-items: flex-start;
  overflow: hidden;
}
.icTwotoneHelpOutline {
  position: absolute;
  left: 17px;
  top: 8px;
  width: 35px;
  height: 35px;
}
.icon {
  width: 35px;
  height: 35px;
}
.support {
  background-color: #fffcf9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #00a792;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  flex-direction: row;
  cursor: pointer;
}
.support .icon {
  margin-left: 21px;
  margin-right: 12px;
}