.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  align-items: flex-start;
}
.fluentSnooze16Regular {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}
.icon {
  width: 100%;
  height: 100%;
}
