.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 79px;
  height: 26px;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #00a792;
  overflow: hidden;
}
.back {
  color: #fffcf9;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41.7722%;
  right: 6.3291%;
  top: 11.5385%;
  bottom: 7.6923%;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 15.1898%;
  right: 75.4432%;
  top: -19.2308%;
  bottom: 73.0769%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
