.root {
  position: absolute;
  left: 20px;
  top: 114px;
  width: 300px;
  height: 38px;
  align-items: flex-start;
}
.frame11 {
  position: absolute;
  left: 0;
  right: 90%;
  top: 10.5263%;
  bottom: 10.5263%;
  align-items: flex-start;
  outline: solid 1px #00a792;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #00a792;
}
.a {
  color: #faf9f6;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 9px;
  top: 3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.label {
  color: #00a792;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.3333%;
  right: 2.3333%;
  top: 0;
  bottom: 0;
  height: min-content;
  flex-direction: column;
}
