.root {
  position: absolute;
  left: 20px;
  top: 84px;
  width: 64px;
  height: 24px;
  align-items: flex-start;
}
.frame7 {
  position: absolute;
  left: 0;
  right: 76.5625%;
  top: 20.8333%;
  bottom: 16.6667%;
  align-items: flex-start;
  outline: solid 2px #00a792;
  outline-offset: -2px;
  border-radius: 3px;
  overflow: hidden;
}
.rectangle29 {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  background-color: #00a792;
}
.label {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
