.logo.logo {
  left: 797px;
  top: 38px;
}
.resetPassword1.resetPassword1 {
  left: 840px;
  top: 540px;
}
.backButton.backButton {
  left: 759px;
  top: 44px;
  background-color: #faf9f6;
}
.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #faf9f6;
  overflow: hidden;
}
.line5 {
  color: #868787;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 841px;
  top: 439px;
  width: 480px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  border: none;
  border-bottom: solid 1px #868787;
  margin-bottom: -1px;
}
.frame4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 720px;
  height: 1024px;
  align-items: flex-start;
  background-color: #ececec;
  overflow: hidden;
}
.hospitalAdmin1 {
  position: absolute;
  left: -442px;
  top: 0;
  width: 1597px;
  height: 1024px;
  background-image:/* webpackIgnore: true */ url('/assets/hospitalAdmin1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.noWorriesWeLlSendYouResetInstr {
  color: #868787;
  font-size: 15px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 898px;
  top: 320px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.forgotPassword {
  color: #121212;
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 898px;
  top: 253px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
