.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 79px;
  height: 26px;
  align-items: flex-start;
  overflow: hidden;
}
.finish {
  background-color: #00a792;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffcf9;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  flex-direction: row;
  cursor: pointer;
}
