.nextButton.nextButton {
  left: 1217px;
  top: 730px;
}
.backButton.backButton {
  left: 42px;
  top: 730px;
}
.checkbox.checkbox {
  left: 51px;
  top: 249px;
}
.label {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -323.4375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox2.checkbox2 {
  left: 360px;
  top: 249px;
}
.label2 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -60.9375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox3.checkbox3 {
  left: 42px;
  top: 435px;
}
.label3 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -4.6875%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox4.checkbox4 {
  left: 187px;
  top: 435px;
}
.label4 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -37.5%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox5.checkbox5 {
  left: 368px;
  top: 437px;
}
.label5 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -34.375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox6.checkbox6 {
  left: 501px;
  top: 437px;
}
.label6 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -135.9375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox7.checkbox7 {
  left: 808px;
  top: 249px;
}
.label7 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -306.25%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox8.checkbox8 {
  left: 501px;
  top: 249px;
}
.label8 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -203.125%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox9.checkbox9 {
  left: 51px;
  top: 278px;
}
.label9 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -15.625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox10.checkbox10 {
  left: 360px;
  top: 278px;
}
.label10 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -48.4375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox11.checkbox11 {
  left: 42px;
  top: 464px;
}
.label11 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -31.25%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox12.checkbox12 {
  left: 187px;
  top: 464px;
}
.label12 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -134.375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox13.checkbox13 {
  left: 368px;
  top: 466px;
}
.label13 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -71.875%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox14.checkbox14 {
  left: 501px;
  top: 466px;
}
.label14 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -126.5625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox15.checkbox15 {
  left: 808px;
  top: 278px;
}
.label15 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -126.5625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox16.checkbox16 {
  left: 501px;
  top: 278px;
}
.label16 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -285.9375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox17.checkbox17 {
  left: 51px;
  top: 307px;
}
.label17 {
  position: absolute;
  left: 37.5%;
  right: -278.125%;
  top: 0;
  bottom: -100%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.checkbox18.checkbox18 {
  left: 360px;
  top: 307px;
}
.label18 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -48.4375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox19.checkbox19 {
  left: 42px;
  top: 493px;
}
.label19 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -65.625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox20.checkbox20 {
  left: 187px;
  top: 493px;
}
.label20 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -76.5625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox21.checkbox21 {
  left: 368px;
  top: 495px;
}
.label21 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -59.375%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox22.checkbox22 {
  left: 501px;
  top: 307px;
}
.label22 {
  position: absolute;
  left: 37.5%;
  right: -320.3125%;
  top: 0;
  bottom: -100%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.checkbox23.checkbox23 {
  left: 51px;
  top: 360px;
}
.label23 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -265.625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox24.checkbox24 {
  left: 360px;
  top: 336px;
}
.label24 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 21.875%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox25.checkbox25 {
  left: 42px;
  top: 522px;
}
.label25 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -51.5625%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox26.checkbox26 {
  left: 187px;
  top: 523px;
}
.label26 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -68.75%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox27.checkbox27 {
  left: 368px;
  top: 524px;
}
.label27 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -21.875%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox28.checkbox28 {
  left: 501px;
  top: 360px;
}
.label28 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: -231.25%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox29.checkbox29 {
  left: 856px;
  top: 528px;
}
.label29 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 18.75%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.checkbox30.checkbox30 {
  left: 956px;
  top: 528px;
}
.label30 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5%;
  right: 28.125%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.registPages.registPages {
  left: 946px;
  top: 97px;
}
.a {
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 9px;
  top: 3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.label31 {
  color: #878787;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14%;
  right: 4%;
  top: 0;
  bottom: 0;
  height: min-content;
  flex-direction: column;
}
.registPages2.registPages2 {
  left: 606px;
  top: 97px;
}
.a2 {
  color: #faf9f6;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 9px;
  top: 3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.label32 {
  color: #00a792;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.3333%;
  right: 2.3333%;
  top: 0;
  bottom: 0;
  height: min-content;
  flex-direction: column;
}
.registPages3.registPages3 {
  left: 266px;
  top: 97px;
}
.label33 {
  color: #878787;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14%;
  right: 4%;
  top: 0;
  bottom: 0;
  height: min-content;
  flex-direction: column;
}
.backButton2.backButton2 {
  left: 14px;
  top: 11px;
  background-color: #b1ede8;
}
.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #faf9f6;
  overflow: hidden;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 50px;
  background-color: #b1ede8;
}
.frame9 {
  position: absolute;
  left: 60px;
  top: 182px;
  width: 1320px;
  height: 783px;
  align-items: flex-start;
  outline: solid 2px #868787;
  outline-offset: -2px;
  background-color: #faf9f6;
  overflow: hidden;
}
.rectangle41 {
  position: absolute;
  left: 42px;
  top: 102px;
  width: 618px;
  height: 90px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.allergies {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.1818%;
  right: 91.6667%;
  top: 9.1954%;
  bottom: 87.7395%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.symptoms {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.1818%;
  right: 89.6212%;
  top: 51.8519%;
  bottom: 45.083%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle412 {
  position: absolute;
  left: 42px;
  top: 604px;
  width: 618px;
  height: 90px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.currentMedications {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.1818%;
  right: 84.4697%;
  top: 73.3078%;
  bottom: 23.6271%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle413 {
  position: absolute;
  left: 678px;
  top: 604px;
  width: 618px;
  height: 90px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.previousLabAndTestResultsIfAny {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51.3636%;
  right: 26.2121%;
  top: 73.3078%;
  bottom: 23.6271%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle42 {
  position: absolute;
  left: 832px;
  top: 303px;
  width: 464px;
  height: 81px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle43 {
  position: absolute;
  left: 525px;
  top: 495px;
  width: 269px;
  height: 57px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle45 {
  position: absolute;
  left: 1211px;
  top: 102px;
  width: 85px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle48 {
  position: absolute;
  left: 1211px;
  top: 133px;
  width: 85px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle51 {
  position: absolute;
  left: 1211px;
  top: 164px;
  width: 85px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.year {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 91.7424%;
  right: 5.4545%;
  top: 9.1954%;
  bottom: 87.7395%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle44 {
  position: absolute;
  left: 1028px;
  top: 102px;
  width: 175px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle47 {
  position: absolute;
  left: 1028px;
  top: 133px;
  width: 175px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle50 {
  position: absolute;
  left: 1028px;
  top: 164px;
  width: 175px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.hospital {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 77.8788%;
  right: 17.197%;
  top: 9.1954%;
  bottom: 87.7395%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle414 {
  position: absolute;
  left: 678px;
  top: 102px;
  width: 342px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle46 {
  position: absolute;
  left: 678px;
  top: 133px;
  width: 342px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.rectangle49 {
  position: absolute;
  left: 678px;
  top: 164px;
  width: 342px;
  height: 28px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.pastSurgeries {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51.3636%;
  right: 40%;
  top: 9.1954%;
  bottom: 87.7395%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.materialSymbolsCalendarMonthOu {
  position: absolute;
  left: 1109px;
  top: 448px;
  width: 24px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle36 {
  position: absolute;
  left: 841px;
  top: 440px;
  width: 300px;
  height: 40px;
  outline: solid 1px #868787;
  outline-offset: -1px;
  background-color: #d9d9d900;
}
.dateOnsetFirstSymptoms {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 63.7121%;
  right: 19.8485%;
  top: 52.3627%;
  bottom: 44.5722%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ddMmYyyy {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 64.7727%;
  right: 27.197%;
  top: 57.2158%;
  bottom: 39.719%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.comorbiditiesRiskFactors {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.1818%;
  right: 79.6212%;
  top: 27.3308%;
  bottom: 69.6041%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ifFemalePatientIsShePregnant {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 63.7121%;
  right: 15.6818%;
  top: 64.3678%;
  bottom: 32.567%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.medicalRecords {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40px;
  top: 24px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.patientRegistrationID9987 {
  color: #121212;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 102px;
  top: 10px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.mdiRegisterOutline {
  position: absolute;
  left: 62px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.sun9Apr2023208 {
  color: #868787;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 83.4722%;
  right: 4.3056%;
  top: 1.2695%;
  bottom: 96.3867%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
