.profile.profile {
  left: 11px;
  top: 958px;
}
.icon {
  width: 100%;
  height: 100%;
}
.logo.logo {
  left: 12px;
  top: 13px;
}
.sidebarPages.sidebarPages {
  left: 11px;
  top: 451px;
}
.sidebarPages2.sidebarPages2 {
  left: 11px;
  top: 368px;
}
.sidebarPages3.sidebarPages3 {
  left: 11px;
  top: 285px;
}
.sidebarPages4.sidebarPages4 {
  left: 11px;
  top: 202px;
}
.sidebarPages5.sidebarPages5 {
  left: 11px;
  top: 119px;
}
.toggle.toggle {
  left: 491px;
  top: 165px;
}
.toggle2.toggle2 {
  left: 757px;
  top: 165px;
}
.box.box {
  left: 498px;
  right: initial;
  top: 209px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.box2.box2 {
  left: 758px;
  right: initial;
  top: 209px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.box3.box3 {
  left: 498px;
  right: initial;
  top: 245px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.box4.box4 {
  left: 758px;
  right: initial;
  top: 245px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.box5.box5 {
  left: 498px;
  right: initial;
  top: 281px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.box6.box6 {
  left: 758px;
  right: initial;
  top: 281px;
  bottom: initial;
  width: 15px;
  height: 15px;
}
.filter.filter {
  left: 468px;
  top: 350px;
}
.label {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.1111%;
  right: 55.5556%;
  top: 10%;
  bottom: 10%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filter2.filter2 {
  left: 468px;
  top: 474px;
}
.label2 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.1111%;
  right: 73.3333%;
  top: 10%;
  bottom: 10%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.filter3.filter3 {
  left: 468px;
  top: 393px;
}
.label3 {
  color: #868787;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 6.1111%;
  right: 55.5556%;
  top: 10%;
  bottom: 10%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.logOut2.logOut2 {
  left: 802px;
  top: 747px;
}
.logOut {
  color: #00a792;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21px;
  top: 3px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.set.set {
  left: 253px;
  top: 167px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.set2.set2 {
  left: 253px;
  top: 234px;
}
.set3.set3 {
  left: 253px;
  top: 301px;
}
.set4.set4 {
  left: 253px;
  top: 368px;
}
.set5.set5 {
  left: 253px;
  top: 435px;
}
.set6.set6 {
  left: 253px;
  top: 502px;
}
.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #fffcf9;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 14.375%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fffcf9;
}
.profile2 {
  position: absolute;
  left: 0;
  right: 85.625%;
  top: 91.8945%;
  bottom: 0;
  background-color: #00a792;
}
.menu {
  position: absolute;
  left: 0;
  right: 85.625%;
  top: 0;
  bottom: 8.1055%;
  background-color: #b1ede8;
}
.settings {
  display: flex;
  align-items: center;
  color: #00a792;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 84px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: row;
  cursor: pointer;
}
.materialSymbolsSettings {
  position: absolute;
  left: 17.3611%;
  right: 80.9722%;
  top: 8.0078%;
  bottom: 89.6484%;
}
.icon3 {
  width: 24px;
  height: 24px;
}
.settings .icon3 {
  margin-left: 2px;
  margin-right: 8px;
}
.today {
  color: #868787;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 83.4722%;
  right: 4.3056%;
  top: 4.1016%;
  bottom: 93.5547%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.settings2 {
  color: #121212;
  font-size: 25px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17.2917%;
  right: 75.2778%;
  top: 3.3203%;
  bottom: 92.9688%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame17 {
  position: absolute;
  left: 442px;
  top: 135px;
  width: 936px;
  height: 828px;
  align-items: flex-start;
  outline: solid 2px #868787;
  outline-offset: -2px;
  border-radius: 15px;
  overflow: hidden;
}
.notifications {
  color: #121212;
  font-size: 22px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 38px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.manageHowLifeTrackSendsYouNoti {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 80px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line18 {
  transform-origin: bottom left;
  position: absolute;
  left: 40.9985px;
  top: 114.5px;
  width: 870px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #86878780;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.enableOrDisableNotifications {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 165px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.controlHowOftenYouReceiveNotif {
  position: absolute;
  left: 41px;
  top: 353px;
  width: 244px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.customizeAudioCueForNotificati {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 477px;
  width: 244px;
  height: min-content;
  flex-direction: column;
}
.alarms {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 373px;
  top: 169px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.alarms2 {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 373px;
  top: 353px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sound {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 373px;
  top: 477px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.email {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 387px;
  top: 205px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.email2 {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 668px;
  top: 205px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.push {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 387px;
  top: 241px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.push2 {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 668px;
  top: 241px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.inApp {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 387px;
  top: 277px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.inApp2 {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 668px;
  top: 277px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.notes {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 650px;
  top: 169px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.notes2 {
  color: #121212;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 373px;
  top: 396px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.preference {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 138px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frequency {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 326px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.soundAndVisual {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 450px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
