.profile.profile {
  left: 11px;
  top: 958px;
}
.icon {
  width: 100%;
  height: 100%;
}
.logo.logo {
  left: 12px;
  top: 13px;
}
.sidebarPages.sidebarPages {
  left: 11px;
  top: 451px;
}
.sidebarPages2.sidebarPages2 {
  left: 11px;
  top: 368px;
}
.sidebarPages3.sidebarPages3 {
  left: 11px;
  top: 285px;
}
.sidebarPages4.sidebarPages4 {
  left: 11px;
  top: 202px;
}
.sidebarPages5.sidebarPages5 {
  left: 11px;
  top: 119px;
}
.toggle.toggle {
  left: 360px;
  top: 156px;
}
.logOut2.logOut2 {
  left: 802px;
  top: 747px;
}
.logOut {
  color: #00a792;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21px;
  top: 3px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.resetPassword2.resetPassword2 {
  left: 558px;
  top: 528px;
}
.set.set {
  left: 253px;
  top: 167px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.set2.set2 {
  left: 253px;
  top: 234px;
}
.set3.set3 {
  left: 253px;
  top: 301px;
}
.set4.set4 {
  left: 253px;
  top: 368px;
}
.set5.set5 {
  left: 253px;
  top: 435px;
}
.set6.set6 {
  left: 253px;
  top: 502px;
}
.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #fffcf9;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 14.375%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fffcf9;
}
.profile2 {
  position: absolute;
  left: 0;
  right: 85.625%;
  top: 91.8945%;
  bottom: 0;
  background-color: #00a792;
}
.menu {
  position: absolute;
  left: 0;
  right: 85.625%;
  top: 0;
  bottom: 8.1055%;
  background-color: #b1ede8;
}
.settings {
  display: flex;
  align-items: center;
  color: #00a792;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 84px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: row;
  cursor: pointer;
}
.materialSymbolsSettings {
  position: absolute;
  left: 17.3611%;
  right: 80.9722%;
  top: 8.0078%;
  bottom: 89.6484%;
}
.icon3 {
  width: 24px;
  height: 24px;
}
.settings .icon3 {
  margin-left: 2px;
  margin-right: 8px;
}
.today {
  color: #868787;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 83.4722%;
  right: 4.3056%;
  top: 4.1016%;
  bottom: 93.5547%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.settings2 {
  color: #121212;
  font-size: 25px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17.2917%;
  right: 75.2778%;
  top: 3.3203%;
  bottom: 92.9688%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame17 {
  position: absolute;
  left: 442px;
  top: 130px;
  width: 936px;
  height: 828px;
  align-items: flex-start;
  outline: solid 2px #868787;
  outline-offset: -2px;
  border-radius: 15px;
  overflow: hidden;
}
.security {
  color: #121212;
  font-size: 22px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 38px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.keepLifeTrackSafeToUseForYou {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 80px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line18 {
  transform-origin: bottom left;
  position: absolute;
  left: 40.9985px;
  top: 114.5px;
  width: 870px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #86878780;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.keepYourAccountSecureByEnablin {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 165px;
  width: 244px;
  height: min-content;
  flex-direction: column;
}
.changeYourCurrentPassword {
  color: #666;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 313px;
  width: 244px;
  height: min-content;
  flex-direction: column;
}
.twoFactorAuthentication {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 138px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.changePassword {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41px;
  top: 286px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.currentPassword {
  color: #121212;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 354px;
  top: 298px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.newPassword {
  color: #121212;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 354px;
  top: 361px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.confirmPassword {
  color: #121212;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 354px;
  top: 424px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 364px;
  top: 325px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enterNewPassword {
  color: #868787;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 364px;
  top: 384px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.confirmNewPassword {
  color: #868787;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 364px;
  top: 447px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle74 {
  position: absolute;
  left: 354px;
  top: 317px;
  width: 360px;
  height: 30px;
  outline: solid 1px #121212;
  outline-offset: -1px;
}
.rectangle75 {
  position: absolute;
  left: 354px;
  top: 380px;
  width: 360px;
  height: 30px;
  outline: solid 1px #121212;
  outline-offset: -1px;
}
.rectangle76 {
  position: absolute;
  left: 354px;
  top: 443px;
  width: 360px;
  height: 30px;
  outline: solid 1px #121212;
  outline-offset: -1px;
}
